body {
    background: url(https://e0.pxfuel.com/wallpapers/714/42/desktop-wallpaper-3d-landscape-dark-landscape.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


.contenedor {
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 300px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.header {
    color: white;
    margin-bottom: 20px;
}

.formulario {
    color: white;
}

.formulario input {
    color: black;
    margin: 10px 0; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; 
    box-sizing: border-box;
}

.texto {
    margin: 15px 0;
}

.texto a {
    background-color: black;
    color: #ffffff;
    text-decoration: none;
    margin: 5px 0;
    padding: 10px;
    display: block;
    border-radius: 20.5px;
    width: 100%; 
    box-sizing: border-box;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.texto a:hover {
    transform: scale(1.1);
    background-color: #333;
}

.boton-personalizado {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.boton-personalizado:hover {
    background-color: rgba(255, 248, 248, 0.7); 
    color: rgb(0, 0, 0);
}